* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainCategory {
    background-image: linear-gradient(178deg, #159957, #155799);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* --------------------------Benefit------------------------ */
.benefit-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: row;
    background: transparent;
    padding: 130px 0;
}

.benefit-top > .benefit-top-content {
    color: rgb(255, 255, 255);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.benefit-top > .benefit-top-img {
    height: 500px;
    width: 500px;
}

.benefit-top > .benefit-top-img img {
    width: 100%;
    animation: animate-benefit-img 2s ease-in-out infinite;
}

.benefit-top-content h1 {
    line-height: 70px;
    font-size: 70px;
}

.benefit-top-content h1 + p {
    font-size: 18px;
    line-height: 30px;
    padding: 18px 0;
}

.button_container {
    height: 100px;
}

/*================= benefit bottom ======================= */
.benefit-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    padding: 120px 0 200px;
}

.benefit-bottom > .benefit-bottom-content {
    color: #fff;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.benefit-bottom-img {
    /* height: 520px; */
    width: 500px;
}

.benefit-bottom-img img {
    width: 100%;
    /* height: 100%; */
    animation: animate-benefit-img 2s ease-in-out infinite;
}

.benefit-bottom-content h1 {
    line-height: 70px;
    font-size: 70px;
    color: #fff;
}

.benefit-bottom-content h1 + p {
    line-height: 30px;
    padding: 18px 0;
}

@keyframes animate-benefit-img {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

/* =================CSS-btn-BENEFIT=================== */
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

.description,
.link {
    font-family: "Amatic SC", cursive;
    text-align: center;
}

.description {
    font-size: 35px;
}

.btn {
    border: aliceblue;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: absolute;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    background: linear-gradient(316deg, #ffe53b 0%, #ff2525 74%);
    padding: 17px 60px;
    box-shadow: 0 12px 40px -5px #fff;
    margin: 20px 0;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 480%;
    width: 140%;
    background: #0b2326;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
    font-size: 20px;
    margin-top: 30px;
}

.link a {
    color: #000;
    font-size: 25px;
}

.animate-benefit-top-img {
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
    opacity: 0;
    filter: blur(5px);
}
/* ------------------------------- Mobile ----------------------------- */
@media only screen and (max-width: 739px) {
    /* Benefit */
    .benefit-top > .benefit-top-content,
    .benefit-bottom > .benefit-bottom-content {
        padding: 0 30px;
    }

    .benefit-top {
        padding-bottom: 20px;
    }

    .benefit-bottom {
        padding-top: 20px;
    }
}
